.unflipped{
    height: 100px;
    max-width: 80px;
    margin: 5px;

    
}

.flipped{
    height: 100px;
    max-width: 80px;
    margin: 5px; 
}

.locked{
    height: 100px;
    max-width: 80px;
    margin: 5px; 
}

.row{
    margin: auto;
}

#board{
    margin: auto;
    border: solid black;
    width: 370px;
    background-color: rgb(15, 94, 15);
}

body{
    background-color: rgb(61, 60, 60);
}

.tarjeta > img{
    margin: 0 auto;
    height: 100%;
    max-width: 80px;
}

button{
    margin: auto;
    display: block;
    background-color: rgb(10, 92, 10);
}

button:hover  {
    margin: auto;
    display: block;
    background-color: rgb(7, 56, 7);
}